@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
}

ul, ol {
 color: rgb(214, 20, 20);
 font-weight: bold;
 font-size: 15px;
}

