@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&family=Roboto+Mono:wght@100&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(28, 147, 147);
}

h1 {
    font-size: 45px;
    margin-bottom: 10px;   
}

ul {
    font-size: 15px;
}
